/**ajuste de la pagina margenes tanto inferior superior horizontal y vertical*/
body {
	background-color: #f2f2f2;		/*color del fondo*/
	margin-top: 10px;					/*magen de distancia de superior*/
	margin-right: 10px;				/*margen de derecha donde sera ajustado toda la pagina*/
	margin-bottom: 50px;				/*margen de pie de pagina*/
	margin-left: 0px;				/*margen de izquierdo*/
	
}

/* este la configuracion de contenedor de toda la pagina*/
.etiquetaGenral{
	width: 90%;						/*tamaño de horizontal*/
	margin-left: auto;				/*margen de la pagina izquiera*/
	margin-right: auto;				/*margen de la pagina derecha*/
	height: 100%;					/*altura de la pagina*/
	background-color:#E9E5E5;		/*color de la pagina*/
}

/*en esta seccion invocamos a encabezado de la pagina*/
header {
	width: 100%;								/*tamaño de encabezado**/
	height: 150px;								/*altura de encabezado*/
	background-color:#CAE2EE;				/*color de encabezado*/
	border-bottom: 2px solid #000000;		/*border 2 pixel y negro los bordes solid lo que te da el efecto*/
	
}
/*Alineaciones del logo*/
.logo {
	
	width: 10%;				/*tamaño horizaontal del logo*/
	float: left;				/*esta alineado a la derecha pero estan en header*/
	margin-top: 20px;		/*margen desde superior*/
	margin-left: 30px;		/*margen desde izquiera*/
	

}

titulodelapagina{
	float:none;
	width:40%;
	
}

titulodelapagina div {
	width: 50%;				/*tamaño horizaontal del contenedor del logo*/
	float: left;				/*esta alineado a la izquierda pero estan en header*/
	margin-top: 40px;		/*margen desde superior*/
	margin-left: 50px;		/*margen desde izquiera*/
	align-content:center;
}


/*contenedor navegacion que esta en el encabezado de la pagina*/
login {
	float: right;				/* esta alineado a la izquiera*/
	width: 30%;					
}


login form {
  width: 280px;				/*tamaño del formulario de login 280 pixeles*/
  float: center;				/*el formulario centrado*/
}

/*grupo de en donde se muestra en el cuadro*/
login fieldset {
	background:#F4ECBB;  /**color en el formulario de de login*/
}

/**label es el nombre y contraseña sirve para los dos*/
login label {
  display: block;			/*se mmuestra en forma bloque*/	
}

div#busqueda{
	padding-top:20px;
	padding-bottom:20px;
	align-content:center;
	background: #F4FA81;
	font-style: normal;
	font-size: 20px;
}

/*aca se cambia el color del contenido del articulo*/
.contenidodelarticulo{

	background:#DDD7D7;

}

/*color de la tabla*/
div#tablaconfotos{
	background:#DDD7D7;
	color:#000000;
	font-style:normal; /**tipo de texto de la letra */
	font-size:22px;
}

.tablacatalogos{

	margin-left: 5cm;

}

.tablacomentarios{
 border:1px solid black;
    width:50%;
    float:right;
   display: block;
}
/*estilo de pi */
.piepagina {
	padding-top:20px;
	padding-bottom:30px;
	width: 100%;						/*tamaño de horizontal*/
	text-align: center;
	background-color: #000000;
	color: #F9F4F4;
	font-style: normal;
	font-size: 20px;
}

.centrar{
	text-align:center;
}

.izquierda{
	text-align:left; 			
}
